body {
    margin: 0;
    padding-top: 70;
    min-width: 500px;
    height: 1500px;
    background-image: linear-gradient(103deg, #0bedac, #008e5d);
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#header {
    position: fixed;
    top: 0;
    align-items: center;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
}

#header > .menu {
    margin-left: 40%;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition-property: margin-left;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-item {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: .25s;
}

.menu-item.align-right {
    align-self: flex-end;
}

.menu-item > svg {
    fill: rgba(0, 0, 0, 0.548);
    width: 32;
    height: 32;
}

.menu-item > svg:hover {
    fill: black;
    width: 32;
    height: 32;
}

.menu-item:hover {
    color:rgba(0, 0, 0, 0.548);
    transition-duration: .25s;
}

.menu-item:active {
    padding: 2 0 0 0;
}

#banner {
    padding: 70px 0 70px 0;
    width: 100%;
    height: 340px;
    background-color: #3fe4b0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    animation: show-in 1s;
    background-image: url("https://dinheirocomvoce.com.br/listavip-dcv/assets/logo-dcv-2018-png.png");
}

@keyframes show-in {
    from {
        background-position-y: bottom;
        opacity: 0;
    }

    to {
        background-position-y: center;
        opacity: 1;
    }
}