:root {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    --primary-color: rgba(0, 0, 0, 0.89);
    color: var(--primary-color);
}

body {
    margin: 0;
    padding-top: 70;
    min-width: 750px;
    background-image: linear-gradient(103deg, #0bedac, #008e5d);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 70px;
    z-index: 1340;
    background-color: white;
    box-shadow: #00000059 0px -2px 13px 7px;
}

.menu {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 15%;
    margin-right: 5%;
    transition-property: margin-left;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-item:last-child {
    margin-left: auto;
}

.menu-item {
    margin-right: 20px;
    user-select: none;
    cursor: pointer;
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: .25s;
}

.menu-item > svg {
    fill: rgba(0, 0, 0, 0.548);
    width: 32;
    height: 32;
}

.menu-item > svg:hover {
    fill: black;
    width: 32;
    height: 32;
}

.menu-item:hover {
    color:rgba(0, 0, 0, 0.548);
    transition-duration: .25s;
}

.menu-item:active:hover {
    padding: 2 0 0 0;
}

#banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 70px 15% 70px 0;
    align-self: stretch;
    height: 340px;
    background-color: #3fe4b0;
    background-size: auto 200px;
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: center;
    animation: show-in 1s;
    background-size: 300px;
    background-image: url("https://dinheirocomvoce.com.br/listavip-dcv/assets/logo-dcv-2018-png.png");
}

#section1 {
    padding: 70px 0 70px 0;
    margin-left: 15%;
    align-self: flex-start;
    height: 340px;

    background-image: url("https://imagensemoldes.com.br/wp-content/uploads/2020/03/Figura-de-Cofrinho-de-Porco-PNG-1200x900.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 85%;

    align-self: stretch;
}

h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 1.7rem;
    margin: 0;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
}

#section1 > ul {
    list-style: none;
    text-align: start;
    padding: 0;
    font-size: 25px;
}

#section2 {
    padding: 70px 15% 70px 0;
    text-align: right;
    align-self: stretch;
    height: 340px;
    background-color: #3fe4b0;
    background-image: url("https://cdn.icon-icons.com/icons2/1153/PNG/512/1486564179-finance-saving_81499.png");
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 107%;
    background-size: auto 60%;;
}

@keyframes show-in {
    from {
        background-position-y: bottom;
        opacity: 0;
    }

    to {
        background-position-y: center;
        opacity: 1;
    }
}

#input-banner {
    display: flex;
    flex-direction: column;

    padding: 13px 19px;
    border-radius: 10px;
    background: white;
    width: 250px;
    height: fit-content;
}

input {
    border: 0;
    height: 23px;
    font-size: 1.2rem;
    padding: 0px 0px 0px 7px;
    margin-bottom: 1rem;
    border-bottom: black 1px solid;
}

input.error {
    border-bottom: red 1px solid;
    color: red;
}

input:focus {
    outline: none;
}

label {
    font-size: 0.8rem;
    user-select: none;
}

input.error + label {
    color: red;
}

.input-label-error {
    display: none;
}

input.error + .input-label-error {
    display: block;
    margin: -35px 0 0px 159px;
    position: absolute;
}

.input-div {
    margin: 10px 0 10px 0;
}

button {
    outline: none;
    border: none;
    border-radius: 5px;
    background-image: none;
    background-color: #cecaca;
    padding: 10px;
}

button:active {
    filter: brightness(0.8);
    transition-duration: .5s;
}

form {
    margin: 0;
}